In [1]:
import pandas as pd                              # For data manipulation and displaying query results
import pymysql                                   # MySQL driver used by SQLAlchemy
from sqlalchemy import create_engine, text       # Core SQLAlchemy functions
import getpass

In [2]:
password = getpass.getpass()

 ········

In [3]:
db = "ecommerce_db"

In [4]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/' + db
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/ecommerce_db)

In [5]:
with engine.connect() as connection:
    query = text('SELECT * FROM products')
    result = connection.execute(query)
    df = pd.DataFrame(result.all())

In [6]:
df

    idproducts           product_name        category    price  stock
0            1          iPhone 15 Pro     Electronics   999.99     50
1            2     Samsung Galaxy S24     Electronics   899.99     35
2            3         MacBook Air M2     Electronics  1199.99     25
3            4               iPad Air     Electronics   599.99     40
4            5    Wireless Headphones     Electronics   149.99     60
5            6            Smart Watch     Electronics   199.99     45
6            7     Nike Air Max Shoes        Clothing   129.99    100
7            8           Levi's Jeans        Clothing    79.99     80
8            9         Cotton T-Shirt        Clothing    24.99    200
9           10          Winter Jacket        Clothing   149.99     35
10          11       KitchenAid Mixer  Home & Kitchen   299.99     20
11          12           Coffee Maker  Home & Kitchen    79.99     55
12          13              Air Fryer  Home & Kitchen    89.99     40
13          14  Harry Potter Book Set           Books    89.99     60
14          15               Yoga Mat          Sports    39.99     75

In [11]:
def sign_up(engine, first_name, last_name, email, password, address, city, phone):
    with engine.connect() as connection:
        txt = f'''insert into ecommerce_db.customers (First_name, Last_name, Email, Password, Address, City, Phone)
                  values ("{first_name}", "{last_name}", "{email}", "{password}", "{address}", "{city}", "{phone}" );'''
        query = text(txt)
        connection.execute(query)
        connection.commit()
        return print("sign up successful")

In [12]:
sign_up(engine, "Nur", "Carpa", "email", "password", "address", "city", "phone")

sign up successful